pipeline/SendMailNotification.json
{
	"name": "SendMailNotification",
	"properties": {
		"activities": [
			{
				"name": "ReadFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SendFilesViaMail",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFileInDir",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReadFileList",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReadFileList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ReadFileFullPath",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FullFilePath",
								"value": {
									"value": "item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SendMailViaLogicApp",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "ReadFileFullPath",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": "https://prod-27.northcentralus.logic.azure.com:443/workflows/d3aec39714e74bde9156bdb20168fdf8/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=Rr8z5jrUNEaymqQ5DcFDqJHNsJJjTztiDracFBT6QIs",
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FullFilePath": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-07T04:43:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}