pipeline/storedataasParquet.json
{
	"name": "storedataasParquet",
	"properties": {
		"activities": [
			{
				"name": "CopyDataFromExcelToParquet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "LoadAddressData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set ErrorValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CopyDataFromExcelToParquet",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorMsg",
					"value": {
						"value": "@activity('CopyDataFromExcelToParquet').output.errors[0].message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CaptureErrorMessage",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set ErrorValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CaptureErrorMessage]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": {
								"value": "@{variables('ErrorMsg')}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ErrorMsg": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-21T09:58:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}